# Ignore Node.js-related files and directories
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp/
.pnp.js

# Ignore build output
/.next/
/out/
/.vercel/
/.now/

# Ignore development environment files
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Ignore system files
.DS_Store
Thumbs.db

# Ignore package manager lock files
yarn.lock
packageLock.json

# Ignore TypeScript build output
/dist/
/tsconfig.tsbuildinfo

# Ignore Tailwind CSS build output
/.cache/
.postcss-cache/

# Ignore IDE and editor-specific files
.idea/
.vscode/
*.swp
*.swo

# Ignore temporary files and backup files
*~
*.bak
*.tmp
*.log

.env